name: Android Build

on:
  workflow_dispatch:
    inputs:
      websiteUrl:
        description: 'Website URL'
        required: true
      appName:
        description: 'App Name'
        required: true
      packageName:
        description: 'Package Name'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: android

      - name: Build with Gradle
        run: ./gradlew assembleRelease
        working-directory: android

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: android/app/build/outputs/apk/release/app-release.apk
